﻿
.Repeater, .Repeater td, .Repeater td
{
    border: 1px solid #ccc;
}
.Repeater td
{
    background-color: #eee !important;
}
.Repeater th
{
    background-color: #6C6C6C !important;
    color: White;
    font-size: 8pt;
    line-height: 100%;
}
.Repeater span
{
    /*color: black;*/
    font-size: 8pt;
    line-height: 100%;
}
.page_enabled, .page_disabled
{
    display: inline-block;
    height: 20px;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ccc;
}
.page_enabled
{
    background-color: #eee;
    color: #000;
}
.page_disabled
{
    background-color: #6C6C6C;
    color: #fff !important;
}
.modal
    {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }
    .loading
    {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
      
    }