﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Default" Title="" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphPage" Runat="Server">

 <script language="javascript" type="text/javascript">
    function OpenWinCredit(obj)
    {   
         var url='PopUpQuickSearch.aspx';
         mywin =window.open(url,"newwin","left=0,top=0,width=650,height=300,scrollbars=yes");
     
    }
    </script>
</asp:Content>
