<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script language="javascript" type="text/javascript">
    function frmReset() {
        var vform = document.getElementById("<%=form1.ClientID %>");
        vform.reset();

    }
    function WinRefresh() {
        var vform = document.getElementById("<%=form1.ClientID %>");
        vform.submit();
    }
</script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Branch Performance Reports</title>
    <link href="App_Themes/Stylesheet/HertzInt.css" type="text/css" rel="stylesheet" />
    <link href="DatePickerCSS/ui.all.css" rel="stylesheet" type="text/css" />
    <link href="Css/jquery.gritter.css" rel="stylesheet" type="text/css" />
    <script src="JQuery/jquery-1.4.min.js" type="text/javascript"></script>
    <script src="JQuery/jquery.gritter.min.js" type="text/javascript"></script>
    <link href="Css/RepeaterStyle.css" rel="stylesheet" type="text/css" />
    <link href="greybox/gb_styles.css" rel="stylesheet" type="text/css" />
    <script src="JQuery/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="JQuery/moment.js" type="text/javascript"></script>
    <script src="JQuery/ui.core.js" type="text/javascript"></script>
    <script src="JQuery/ui.datepicker.js" type="text/javascript"></script>
    <script src="ScriptsReveal/jquery.reveal.js" type="text/javascript"></script>
    <link href="CSSReveal/reveal.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td colspan="1" style="width: 15%">
                    <img src="App_Themes/images/logo_carzonret.gif" />
                </td>
                <td width="76%" colspan="1">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="right" bgcolor="#cccccc" colspan="2">
                                    <b>
                                        <asp:Label ID="lblUserID" runat="server"></asp:Label></b>
                                </td>
                                <td align="right" bgcolor="#cccccc" colspan="2">
                                    <b><asp:LinkButton ID="back" runat="server" onclick="back_Click" Text="Back to Insta"></asp:LinkButton></b>
                                    <%--<a href="http://insta.carzonrent.com/index/index.asp" runat="server"><b>Back to Insta</b></a>--%>
                                </td>
                                <td align="right" bgcolor="#cccccc" colspan="7">
                                    <b><asp:LinkButton ID="logout" runat="server" onclick="logout_Click" Text="Logout"></asp:LinkButton></b>
                                    <%--<a href="http://insta.carzonrent.com/"><b>Logout</b></a>--%>
                                </td>
                            </tr>
                            <tr>
                                <td class="topnav">
                                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                        <asp:Menu ID="mnuTop" runat="server" Orientation="Horizontal" Width="17px" BackColor="#ffd255"
                                            DynamicHorizontalOffset="2" Font-Names="Verdana" Font-Size="X-Small" ForeColor="Black"
                                            StaticSubMenuIndent="10px" Font-Bold="True" BorderStyle="Solid" BorderColor="Black"
                                            BorderWidth="1px">
                                            <StaticSelectedStyle BackColor="#F7F6F3" />
                                            <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                            <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                            <DynamicMenuStyle BackColor="#F7F6F3" />
                                            <DynamicSelectedStyle BackColor="#F7F6F3" />
                                            <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                            <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                        </asp:Menu>
                                        <asp:Panel ID="Panel1" runat="server">
                                        </asp:Panel>
                                    </asp:ContentPlaceHolder>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td colspan="2" style="width: 15%">
                </td>
                <td style="width: 3px">
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="4" style="height: 229px; vertical-align: top">
                    <asp:ContentPlaceHolder ID="cphPage" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
                <td style="width: 3px; height: 229px;">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                </td>
                <td style="width: 3px">
                </td>
            </tr>
    </table>
    </form>
</body>
</html>
