<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="VDPReportDayWiseCrystal.aspx.cs" Inherits="VDPReportDayWiseCrystal" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>
    
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="cphPage">
<a href="http://insta.carzonrent.com/Reports-New/VDPReportDayWise.aspx">Go Back</a>

    <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true"
        Width="350px" HasCrystalLogo="False" HasToggleGroupTreeButton="False" HasViewList="False" OnUnload="CrystalReportViewer1_Unload"/>

</asp:Content>