﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="VerifyBookingLocation.aspx.cs" Inherits="CorDriveReport_VerifyBookingLocation" MasterPageFile ="~/MasterPage.master" %>
<asp:Content ID="Content2" ContentPlaceHolderID="cphPage" runat="Server">
   <div align="center">
        <b>Verify Booking Location</b>
    </div>
    <iframe src="http://corapi.carzonrent.com/CorMeterGoogleAPI/VerifyBookingLocation.aspx?SysUserId=<%=Session["UserID"].ToString()%>" height="10000px" width ="100%" style="border:none">

   </iframe>
</asp:Content>
